#gallery{
    background: transparent url('/cash-assets/images/scorebg.png') top left repeat-x !important;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

#scoreboard table{ width: 100%; color: #fff;}
.leagueheader{ background-color: #0760f7;}
.league-logo { height: 100px; width: 100px; display: inline-block; position: relative; top: 20px;}
.league-title{ vertical-align: middle; padding: 20px 20px; text-align: left; width: 800px; float: left; }
.league-name{ position: relative; bottom: 10px; font-family: GalaxiePolarisCondensed-Bold; font-size: 72px; padding-left: 40px;}

tr.scorebar{
    height: 440px; 
    background: #565656; /* Old browsers */
    background: -moz-linear-gradient(top, #565656 0%, #262626 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#565656), color-stop(100%,#262626)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #565656 0%,#262626 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #565656 0%,#262626 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #565656 0%,#262626 100%); /* IE10+ */
    background: linear-gradient(to bottom, #565656 0%,#262626 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#565656', endColorstr='#262626',GradientType=0 ); /* IE6-9 */
    
}
.logo{ width: 450px;}
.team-logo { height: 300px; width: 400px; display: block; position: relative; left: 50px; }
.cityteam{text-align: left; }
.team-city { text-transform: uppercase; display: block; font-family: GalaxiePolarisCondensed-Bold; font-size: 70px; line-height: 70px; text-align: left; padding-left: 30px;}
.team-name { text-transform: uppercase; display: block; font-family: GalaxiePolarisCondensed-Bold; font-size: 160px; line-height: 180px; text-align: left; padding-left: 30px; float: left;}
.score{ font-size: 240px; font-family: GalaxiePolarisCondensed-Bold; text-align: center;  margin-right: 30px !important; text-align: right !important; float: right; position: relative; right: 50px;}
.clock{ width: 960px; font-size: 72px; font-family: GalaxiePolarisCondensed-Bold; vertical-align: middle; text-align: right; padding-right: 30px; padding-top:25px; float: right;}
sup{ font-size: 40px;}

/*nhl logos*/
.NHL-logo         { background: transparent url('/cash-assets/images/nhl/05_NHL_Shield.svg') center center no-repeat; }
.NHL-Anaheim      { background: transparent url('/cash-assets/images/nhl/Anaheim_Ducks.svg') center center no-repeat; }
.NHL-Boston       { background: transparent url('/cash-assets/images/nhl/Boston_Bruins.svg') center center no-repeat; }
.NHL-Buffalo      { background: transparent url('/cash-assets/images/nhl/Buffalo_Sabres_Logo.svg') center center no-repeat; }
.NHL-Calgary      { background: transparent url('/cash-assets/images/nhl/Calgary_Flames_Logo.svg') center center no-repeat; }
.NHL-Carolina     { background: transparent url('/cash-assets/images/nhl/Carolina_Hurricanes.svg') center center no-repeat; }
.NHL-Chicago      { background: transparent url('/cash-assets/images/nhl/ChicagoBlackhawksLogo.svg') center center no-repeat; }
.NHL-Colorado     { background: transparent url('/cash-assets/images/nhl/Colorado_Avalanche_logo.svg') center center no-repeat; }
.NHL-Columbus     { background: transparent url('/cash-assets/images/nhl/Columbus_BlueJackets.svg') center center no-repeat; }
.NHL-Dallas       { background: transparent url('/cash-assets/images/nhl/Dallas_Stars_2013_crest.svg') center center no-repeat; }
.NHL-Detroit      { background: transparent url('/cash-assets/images/nhl/Detroit_Red_Wings_logo.svg') center center no-repeat; }
.NHL-Florida      { background: transparent url('/cash-assets/images/nhl/Florida_Panthers.svg') center center no-repeat; }
.NHL-Edmonton     { background: transparent url('/cash-assets/images/nhl/Logo_Edmonton_Oilers.svg') center center no-repeat; }
.NHL-NYIslanders  { background: transparent url('/cash-assets/images/nhl/Logo_New_York_Islanders.svg') center center no-repeat; }
.NHL-NYRangers    { background: transparent url('/cash-assets/images/nhl/New_York_Rangers.svg') center center no-repeat; }
.NHL-LosAngeles   { background: transparent url('/cash-assets/images/nhl/Los_Angeles_Kings_Logo_(2011).svg')   center center no-repeat; }
.NHL-Minnesota    { background: transparent url('/cash-assets/images/nhl/Minnesota_Wild.svg')                  center center no-repeat; }
.NHL-Montreal     { background: transparent url('/cash-assets/images/nhl/Montreal_Canadiens.svg')              center center no-repeat; }
.NHL-Nashville    { background: transparent url('/cash-assets/images/nhl/Nashville_Predators_Logo_(2011).svg') center center no-repeat; }
.NHL-NewJersey    { background: transparent url('/cash-assets/images/nhl/New_Jersey_Devils_logo.svg')          center center no-repeat; }
.NHL-Ottawa       { background: transparent url('/cash-assets/images/nhl/Ottawa_Senators.svg')                 center center no-repeat; }
.NHL-Philadelphia { background: transparent url('/cash-assets/images/nhl/Philadelphia_Flyers.svg')             center center no-repeat; }
.NHL-Phoenix      { background: transparent url('/cash-assets/images/nhl/Phoenix_Coyotes.svg')                 center center no-repeat; }
.NHL-Pittsburgh   { background: transparent url('/cash-assets/images/nhl/Pittsburgh_Penguins_logo.svg')        center center no-repeat; }
.NHL-SanJose      { background: transparent url('/cash-assets/images/nhl/SanJoseSharksLogo.svg')               center center no-repeat; }
.NHL-StLouis      { background: transparent url('/cash-assets/images/nhl/StLouis_Blues.svg')                   center center no-repeat; }
.NHL-TampaBay     { background: transparent url('/cash-assets/images/nhl/Tampa_Bay_Lightning_Logo_2011.svg')   center center no-repeat; }
.NHL-Toronto      { background: transparent url('/cash-assets/images/nhl/Toronto_Maple_Leafs_logo.svg')        center center no-repeat; }
.NHL-Vancouver    { background: transparent url('/cash-assets/images/nhl/Vancouver_Canucks_logo.svg')          center center no-repeat; }
.NHL-Washington   { background: transparent url('/cash-assets/images/nhl/Washington_Capitals.svg')             center center no-repeat; }
.NHL-Winnipeg     { background: transparent url('/cash-assets/images/nhl/Winnipeg_Jets_Logo_2011.svg')         center center no-repeat; }

/*mlb logos*/
.MLB-logo         { background: transparent url('/cash-assets/images/mlb/Major_League_Baseball.svg') center center no-repeat; }
.MLB-Arizona      { background: transparent url('/cash-assets/images/mlb/Arizona_Diamondbacks_Logo.svg') center center no-repeat; }
.MLB-Atlanta      { background: transparent url('/cash-assets/images/mlb/Atlanta_Braves.svg') center center no-repeat; }
.MLB-Baltimore    { background: transparent url('/cash-assets/images/mlb/Baltimore_Orioles_Logo.svg') center center no-repeat; }
.MLB-ChicagoCubs  { background: transparent url('/cash-assets/images/mlb/Chicago_Cubs_Logo.svg') center center no-repeat; }
.MLB-ChicagoWhiteSox { background: transparent url('/cash-assets/images/mlb/Chicago_White_Sox.svg') center center no-repeat; }
.MLB-Cincinnati   { background: transparent url('/cash-assets/images/mlb/Cincinnati_Reds_Logo.svg') center center no-repeat; }
.MLB-Cleveland    { background: transparent url('/cash-assets/images/mlb/Cleveland_Indians_logo.svg') center center no-repeat; }
.MLB-Colorado     { background: transparent url('/cash-assets/images/mlb/Colorado_Rockies_logo.svg') center center no-repeat; }
.MLB-Detroit      { background: transparent url('/cash-assets/images/mlb/Detroit_tigers_textlogo.svg') center center no-repeat; }
.MLB-Houston      { background: transparent url('/cash-assets/images/mlb/Houston_Astros_Logo.svg') center center no-repeat; }
.MLB-Kansascity   { background: transparent url('/cash-assets/images/mlb/Kansas_City_Royals.svg') center center no-repeat; }
.MLB-Angels       { background: transparent url('/cash-assets/images/mlb/Los_Angeles_Angels_of_Anaheim.svg') center center no-repeat; }
.MLB-Dodgers      { background: transparent url('/cash-assets/images/mlb/Los_Angeles_Dodgers.eps.svg') center center no-repeat; }
.MLB-Miami        { background: transparent url('/cash-assets/images/mlb/MiamiMarlins.svg') center center no-repeat; }
.MLB-Milwaukee    { background: transparent url('/cash-assets/images/mlb/Milwaukee_Brewers_Logo.svg') center center no-repeat; }
.MLB-Minnesota    { background: transparent url('/cash-assets/images/mlb/Minnesota_Twins_Logo.svg') center center no-repeat; }
.MLB-Mets         { background: transparent url('/cash-assets/images/mlb/New_York_Mets.svg') center center no-repeat; }
.MLB-Yankees      { background: transparent url('/cash-assets/images/mlb/NewYorkYankees_PrimaryLogo.svg') center center no-repeat; }
.MLB-Oakland      { background: transparent url('/cash-assets/images/mlb/Oakland_athl_primlogo.svg') center center no-repeat; }
.MLB-Philadelphia { background: transparent url('/cash-assets/images/mlb/Philadelphia_Phillies.svg') center center no-repeat; }
.MLB-Pittsburgh   { background: transparent url('/cash-assets/images/mlb/Pittsburgh_Pirates_MLB_Logo.svg') center center no-repeat; }
.MLB-Boston       { background: transparent url('/cash-assets/images/mlb/RedSoxPrimary_HangingSocks.svg') center center no-repeat; }
.MLB-Sandiego     { background: transparent url('/cash-assets/images/mlb/San_Diego_Padres_logo.svg') center center no-repeat; }
.MLB-Sanfrancisco { background: transparent url('/cash-assets/images/mlb/San_Francisco_Giants_Logo.svg') center center no-repeat; }
.MLB-Seattle      { background: transparent url('/cash-assets/images/mlb/Seattle_Mariners_logo.svg') center center no-repeat; }
.MLB-Stlouis      { background: transparent url('/cash-assets/images/mlb/St._Louis_Cardinals_Logo.svg') center center no-repeat; }
.MLB-Tampabay     { background: transparent url('/cash-assets/images/mlb/Tampa_Bay_Rays.svg') center center no-repeat; }
.MLB-Texas        { background: transparent url('/cash-assets/images/mlb/Texas_Rangers.svg') center center no-repeat; }
.MLB-Toronto      { background: transparent url('/cash-assets/images/mlb/Toronto_Blue_Jays_logo.svg') center center no-repeat; }
.MLB-Washington   { background: transparent url('/cash-assets/images/mlb/Washington-Nationals-Logo.svg') center center no-repeat; }

/*nfl logos*/
.NFL-logo { background: transparent url('/cash-assets/images/nfl/National_Football_League_2008.svg') center center no-repeat; }
.NFL-Sanfrancisco { background: transparent url('/cash-assets/images/nfl/49ers_Logo.svg') center center no-repeat; }
.NFL-Arizona { background: transparent url('/cash-assets/images/nfl/Arizona_Cardinals_logo.svg') center center no-repeat; }
.NFL-Atlanta { background: transparent url('/cash-assets/images/nfl/Atlanta_Falcons_logo.svg') center center no-repeat; }
.NFL-Baltimore { background: transparent url('/cash-assets/images/nfl/Baltimore_Ravens_logo.svg') center center no-repeat; }
.NFL-Buffalo { background: transparent url('/cash-assets/images/nfl/Buffalo_Bills_logo.svg') center center no-repeat; }
.NFL-Carolina { background: transparent url('/cash-assets/images/nfl/Carolina_Panthers_logo_2012.svg') center center no-repeat; }
.NFL-Chicago { background: transparent url('/cash-assets/images/nfl/Chicago_Bears_logo.svg') center center no-repeat; }
.NFL-Cincinnati { background: transparent url('/cash-assets/images/nfl/Cincinnati_Bengals.svg') center center no-repeat; }
.NFL-Cleveland { background: transparent url('/cash-assets/images/nfl/Cleveland_Browns_logo-01.svg') center center no-repeat; }
.NFL-Dallas { background: transparent url('/cash-assets/images/nfl/Dallas_Cowboys.svg') center center no-repeat; }
.NFL-Denver { background: transparent url('/cash-assets/images/nfl/Denver_Broncos_logo.svg') center center no-repeat; }
.NFL-GreenBay { background: transparent url('/cash-assets/images/nfl/Green_Bay_Packers_logo.svg') center center no-repeat; }
.NFL-Houston { background: transparent url('/cash-assets/images/nfl/Houston_Texans_logo.svg') center center no-repeat; }
.NFL-Indianapolis { background: transparent url('/cash-assets/images/nfl/Indianapolis_Colts_logo.svg') center center no-repeat; }
.NFL-Jacksonville { background: transparent url('/cash-assets/images/nfl/Jacksonville_Jaguars.svg') center center no-repeat; }
.NFL-KansasCity { background: transparent url('/cash-assets/images/nfl/Kansas_City_Chiefs_logo.svg') center center no-repeat; }
.NFL-Miami { background: transparent url('/cash-assets/images/nfl/Miami_Dolphins_logo.svg') center center no-repeat; }
.NFL-Minnesota { background: transparent url('/cash-assets/images/nfl/minnesota_vikings.svg') center center no-repeat;}
.NFL-NewEngland { background: transparent url('/cash-assets/images/nfl/New_England_Patriots_logo.svg') center center no-repeat; }
.NFL-Detroit { background: transparent url('/cash-assets/images/nfl/New_Lions_Logo.svg') center center no-repeat; }
.NFL-Neworleans { background: transparent url('/cash-assets/images/nfl/New_Orleans_Saints.svg') center center no-repeat; }
.NFL-Giants { background: transparent url('/cash-assets/images/nfl/New_York_Giants_logo.svg') center center no-repeat; }
.NFL-Jets { background: transparent url('/cash-assets/images/nfl/New_York_Jets_logo.svg') center center no-repeat; }
.NFL-Oakland { background: transparent url('/cash-assets/images/nfl/Oakland_Raiders.svg') center center no-repeat; }
.NFL-Philadelphia { background: transparent url('/cash-assets/images/nfl/Philadelphia_Eagles_primary_logo.svg') center center no-repeat; }
.NFL-Pittsburgh { background: transparent url('/cash-assets/images/nfl/Pittsburgh_Steelers_logo.svg') center center no-repeat; }
.NFL-Sandiego { background: transparent url('/cash-assets/images/nfl/San_Diego_Chargers_logo.svg') center center no-repeat; }
.NFL-Seattle { background: transparent url('/cash-assets/images/nfl/SeattleSeahawks.svg') center center no-repeat; }
.NFL-Stlouis { background: transparent url('/cash-assets/images/nfl/St_Louis_Rams_logo.svg') center center no-repeat; }
.NFL-TampaBay { background: transparent url('/cash-assets/images/nfl/Tampa_Bay_Buccaneers_logo.svg') center center no-repeat; }
.NFL-Tennessee { background: transparent url('/cash-assets/images/nfl/Tennessee_Titans_logo.svg') center center no-repeat; }
.NFL-Washington { background: transparent url('/cash-assets/images/nfl/Washington_Redskins_logo.svg') center center no-repeat; }



.NBA-logo { background: transparent url('/cash-assets/images/nba/NBALogo.svg') center center no-repeat;}
.NBA-Atlanta { background: transparent url('/cash-assets/images/nba/Atlanta_Hawks.svg') center center no-repeat; }
.NBA-Boston { background: transparent url('/cash-assets/images/nba/Boston_Celtics.svg') center center no-repeat; }
.NBA-Brooklyn { background: transparent url('/cash-assets/images/nba/Brooklyn_Nets_newlogo.svg') center center no-repeat; }
.NBA-Chicago { background: transparent url('/cash-assets/images/nba/Chicago_Bulls_logo.svg') center center no-repeat; }
.NBA-Charlotte { background: transparent url('/cash-assets/images/nba/bobcats.svg') center center no-repeat; }
.NBA-Cleveland { background: transparent url('/cash-assets/images/nba/Cleveland_Cavaliers_2010.svg') center center no-repeat; }
.NBA-Dallas { background: transparent url('/cash-assets/images/nba/Dallas_Mavericks_logo.svg') center center no-repeat; }
.NBA-Philadelphia { background: transparent url('/cash-assets/images/nba/Philadelphia_76ers_Logo.svg') center center no-repeat; }
.NBA-Denver { background: transparent url('/cash-assets/images/nba/Denver_Nuggets.svg') center center no-repeat; }
.NBA-Detroit { background: transparent url('/cash-assets/images/nba/Detroit_Pistons_logo.svg') center center no-repeat; }
.NBA-GoldenState { background: transparent url('/cash-assets/images/nba/Golden_State_Warriors_logo.svg') center center no-repeat; }
.NBA-Houston { background: transparent url('/cash-assets/images/nba/Houston_Rockets.svg') center center no-repeat; }
.NBA-Indiana { background: transparent url('/cash-assets/images/nba/Indiana_Pacers.svg') center center no-repeat; }
.NBA-LALakers { background: transparent url('/cash-assets/images/nba/LosAngeles_Lakers_logo.svg') center center no-repeat; }
.NBA-LAClippers { background: transparent url('/cash-assets/images/nba/Los_Angeles_Clippers_logo.svg') center center no-repeat; }
.NBA-Memphis { background: transparent url('/cash-assets/images/nba/Memphis_Grizzlies.svg') center center no-repeat; }
.NBA-Miami { background: transparent url('/cash-assets/images/nba/Miami_Heat_logo.svg') center center no-repeat; }
.NBA-Milwaukee { background: transparent url('/cash-assets/images/nba/Milwaukee_Bucks.svg') center center no-repeat; }
.NBA-Minnesota { background: transparent url('/cash-assets/images/nba/Minnesota_Timberwolves.svg') center center no-repeat; }
.NBA-NewYork { background: transparent url('/cash-assets/images/nba/knicks.svg') center center no-repeat; }
.NBA-OklahomaCity { background: transparent url('/cash-assets/images/nba/Oklahoma_City_Thunder.svg') center center no-repeat; }
.NBA-Orlando { background: transparent url('/cash-assets/images/nba/Orlando_Magic.svg') center center no-repeat; }
.NBA-Phoenix { background: transparent url('/cash-assets/images/nba/Phoenix_Suns.svg') center center no-repeat; }
.NBA-Portland { background: transparent url('/cash-assets/images/nba/Portland_Trail_Blazers.svg') center center no-repeat; }
.NBA-Sacramento { background: transparent url('/cash-assets/images/nba/Sacramento_Kings.svg') center center no-repeat; }
.NBA-SanAntonio { background: transparent url('/cash-assets/images/nba/San_Antonio_Spurs.svg') center center no-repeat; }
.NBA-Toronto { background: transparent url('/cash-assets/images/nba/Toronto_Raptors.svg') center center no-repeat; }
.NBA-Utah { background: transparent url('/cash-assets/images/nba/Utah_Jazz.svg') center center no-repeat; }
.NBA-Washington { background: transparent url('/cash-assets/images/nba/Washington_Wizards_Logo.svg') center center no-repeat; }
.NBA-NewOrleans { background: transparent url('/cash-assets/images/nba/neworleans.svg') center center no-repeat; }

.CFL-BC{}
.CFL-Calgary{}
.CFL-Edmonton{}
.CFL-Saskatchewan{}
.CFL-Winnipeg{}
.CFL-Hamilton{}
.CFL-Toronto{}
.CFL-Ottawa{}
.CFL-Montreal{}



