@charset "utf-8";
/* CSS Document */

*{margin:0px;}
div, span {box-sizing:border-box;-moz-box-sizing:border-box;}
body {background:url("../images/layout/body_bg.png") repeat-x center top #e5e6e3;width:100%;color:#231f20;font-size:12px;font-family:Helvetica, Verdana, Arial sans-serif;position:relative;}
div.clearfix {clear:both;}
input {font-size:12px;font-family:Helvetica, Verdana, Arial sans-serif;}

/*************************************************** MAIN LAYOUT ************************************************/

div.banner {position:absolute;text-align:center;margin-top:171px;width:100%;height:350px;}
div.banner img {width:100%;height:100%;}
div.container {margin:0px auto 0px auto;max-width:1024px;position:relative;}
div.masthead {height:155px;position:relative;}
div.main-nav {min-height:36px;}
div.content {background:#fff;margin-top:250px;}
span.pre-border {display:block;height:10px;border-top:#53a63f 6px solid;background:#fff;}
div.masthead, div.main-nav, div.content, div.footer, span.pre-border {margin-left:14px;margin-right:14px;}
div.footer {background:url("../images/layout/footer_bg.png") no-repeat left center #050708;clear:both;height:265px;padding-left:275px;position:relative;color:#e5e6e3;}

/*************************** MASTHEAD *******************/

span.logo {line-height:146px;}
span.logo img {vertical-align:middle;}
div.search-box {position:absolute;right:0px;bottom:20px; top:10px;}
input.search-box {border:#c8c7c7 solid 1px;padding:2px 5px 2px 5px;}
input.search-button {border:none;background:#50aa39;color:#fff;padding:2px 6px 2px 6px;}
input.search-button:hover {background:#044d7f;cursor:pointer;}

/*********************************************************/

/***************************** MAIN NAV *****************/

#news-drop, #aboutus-drop, #research-drop, #funding-drop, #symposium-drop,#membership-drop {display:none;position:absolute;top:36px;z-index:9;background:#e9eaeb;color:#53a63f;}

/**** 1ST MENU *****/

ul.menu {list-style-type:none;line-height:36px;height:36px;margin:0;padding:0;background:#040707;float:right;}
ul.menu li {display:inline-block;position:relative;line-height:36px;background:#040707;float:left;}
ul.menu li a {display:block;color:#fff;font-size:14px;padding:0px 15px 0px 15px;line-height:36px;}
ul.menu li:hover a, ul.menu li:hover {background:#e9eaeb;color:#53a63f;}

/****** ACTION ******/

li.news-link:hover #news-drop, li.about-link:hover #aboutus-drop, li.research-link:hover #research-drop, li.funding-link:hover #funding-drop, li.symposium-link:hover #symposium-drop {display:block;}

/**** 2ND MENU *****/

ul.submenu {background:#e9eaeb;margin:0;list-style-type:none;line-height:24px;padding:5px 0px 5px 0px;}
ul.submenu li {width:100%;line-height:24px;}
ul.submenu li a {font-size:12px;color:#000 !important;padding:0px 15px 0px 15px;line-height:24px;}
ul.submenu li a:hover {background:#e9eaeb;color:#53a63f !important;}

/*************************************************************************************************************/

/******************************** CONTENT DIV ******************************************************/

div.center-degrader {width:68%;float:left;}
div.center-degrader, div.right-content {padding-left:20px;padding-right:20px;}
div.left-content {width:33%;margin-top:35px;float:left;padding-right:20px;}
div.center-content {width:67%;margin-top:20px;float:right;padding-left:20px;}
div.right-content {width:32%;margin-top:35px;float:right;}


/******************** LEFT CONTENT ***********************/

div.left-mod, div.right-mod, div.center-mod {margin-bottom:35px;}
div.left-mod h4 {margin-bottom:25px;}
div.left-mod h4:after {content:url("../images/layout/h3left_bottom.png");position:absolute;display:block;bottom:-12px;left:0px;}
div.left-mod div.rec-event {margin-bottom:35px;padding-left:10px;}
ul.external-sites {margin:0;padding:0;list-style-type:none;}
ul.external-sites a {color:#000;font-size:14px;line-height:24px;}
ul.external-sites a:hover {color:#53a63f;}

/******************* RIGHT CONTENT *********************/

div.right-mod h4 {margin-bottom:15px;}
div.right-mod h4:after {content:url("../images/layout/h3right_bottom.png");position:absolute;display:block;bottom:-12px;right:0px;}
div.right-mod div.rec-event {margin-bottom:35px;padding-right:10px;padding-left:5px;}
img.right-img {margin-bottom:10px;}

/******************** CENTER CONTENT ******************/

img.shape {max-width:368px;width:100%;}
ul.a-goals {margin:0px;padding:0;list-style-type:none;font-size:13px;}
ul.a-goals li {padding:0px 0px 0px 75px;margin-top:25px;min-height:60px;}
li.facilitate-item {background:url("../images/content/facilitate_icon.png") no-repeat left center;}
li.attract-item {background:url("../images/content/attract_icon.png") no-repeat left center;}
li.network-item {background:url("../images/content/network_icon.png") no-repeat left center;}

div.affiliate-logos {border-top:#e5e6e3 solid 5px;padding-top:40px;text-align:center;}
div.affiliate-logos img {vertical-align:middle;margin:0px 11px 20px 11px;}

/************************************************************************************************/

/******************************************** FOOTER ******************************************/

div.footer h6 {padding-top:3%;}
ul.footer {margin:0;padding:0;list-style-type:none;}
ul.footer li {display:inline-block;float:left;margin:10px 35px 5px 0px;}
div.footer a {color:#fff;line-height:150%;}
div.footer a:hover {color:#044d7f;}

/***********************************************************************************************/

div.subpage {padding:25px 0px 35px 0px;}
div.int-content {padding:35px 50px 0px 0px;}


/******************************* MAIN LINKS, HEADERS, ETC ***********************************/

p {line-height:150%;}
h1 {font-size:18px;color:#53a63f;font-weight:normal;line-height:135%;margin-bottom:10px;}
h2 {font-size:18px;color:#000;font-weight:normal;line-height:135%;margin-bottom:10px;}
h3 {font-size:16px;color:#53a63f;font-weight:normal;line-height:135%;margin-bottom:10px;}
h4 {font-size:14px;display:block;background:#231f20;color:#b7da96;padding:10px;position:relative;}
h5 {font-size:13px;}
h6 {font-size:24px;color:#53a63f;font-weight:normal;line-height:135%;margin-bottom:10px;}
h7 {font-size:40px;font-weight:normal;line-height:135%;margin-bottom:10px;padding-bottom:10px;border-bottom:#e5e6e3 solid 7px;display:inline-block;}
h8 {font-size:15px;color:#53a63f;font-weight:normal;line-height:125%;margin-bottom:0px;}
h9 {font-size:15px;font-weight:normal;line-height:135%;margin-left:0px;padding-bottom:10px;;display:inline-block; color:#000; font-weight:bold}
a, a:link, a:visited {text-decoration:none;color:#53a63f;}
a:hover, a:active {color:#044d7f;}
span.green {color:#53a63f;}
span.reg{color:#000;font-size:12px;}

.loginbtn {background-color:#e7ebed; padding:5px; border:0px solid #000;
}

/*****************************************************************************************************************/

