/*.flag{ width: 450px;}*/
.flag{ height: 338px; width: 450px; border: thin solid blue;}

.ad{ background: transparent url('/cash-assets/images/flags/ad.svg') center center no-repeat; }
.ae{ background: transparent url('/cash-assets/images/flags/ae.svg') center center no-repeat; }
.af{ background: transparent url('/cash-assets/images/flags/af.svg') center center no-repeat; }
.ag{ background: transparent url('/cash-assets/images/flags/ag.svg') center center no-repeat; }
.ai{ background: transparent url('/cash-assets/images/flags/ai.svg') center center no-repeat; }
.al{ background: transparent url('/cash-assets/images/flags/al.svg') center center no-repeat; }
.am{ background: transparent url('/cash-assets/images/flags/am.svg') center center no-repeat; }
.ao{ background: transparent url('/cash-assets/images/flags/ao.svg') center center no-repeat; }
.aq{ background: transparent url('/cash-assets/images/flags/aq.svg') center center no-repeat; }
.ar{ background: transparent url('/cash-assets/images/flags/ar.svg') center center no-repeat; }
.as{ background: transparent url('/cash-assets/images/flags/as.svg') center center no-repeat; }
.at{ background: transparent url('/cash-assets/images/flags/at.svg') center center no-repeat; }
.au{ background: transparent url('/cash-assets/images/flags/au.svg') center center no-repeat; }
.aw{ background: transparent url('/cash-assets/images/flags/aw.svg') center center no-repeat; }
.ax{ background: transparent url('/cash-assets/images/flags/ax.svg') center center no-repeat; }
.az{ background: transparent url('/cash-assets/images/flags/az.svg') center center no-repeat; }
.ba{ background: transparent url('/cash-assets/images/flags/ba.svg') center center no-repeat; }
.bb{ background: transparent url('/cash-assets/images/flags/bb.svg') center center no-repeat; }
.bd{ background: transparent url('/cash-assets/images/flags/bd.svg') center center no-repeat; }
.be{ background: transparent url('/cash-assets/images/flags/be.svg') center center no-repeat; }
.bf{ background: transparent url('/cash-assets/images/flags/bf.svg') center center no-repeat; }
.bg{ background: transparent url('/cash-assets/images/flags/bg.svg') center center no-repeat; }
.bh{ background: transparent url('/cash-assets/images/flags/bh.svg') center center no-repeat; }
.bi{ background: transparent url('/cash-assets/images/flags/bi.svg') center center no-repeat; }
.bj{ background: transparent url('/cash-assets/images/flags/bj.svg') center center no-repeat; }
.bl{ background: transparent url('/cash-assets/images/flags/bl.svg') center center no-repeat; }
.bm{ background: transparent url('/cash-assets/images/flags/bm.svg') center center no-repeat; }
.bn{ background: transparent url('/cash-assets/images/flags/bn.svg') center center no-repeat; }
.bo{ background: transparent url('/cash-assets/images/flags/bo.svg') center center no-repeat; }
.bq{ background: transparent url('/cash-assets/images/flags/bq.svg') center center no-repeat; }
.br{ background: transparent url('/cash-assets/images/flags/br.svg') center center no-repeat; }
.bs{ background: transparent url('/cash-assets/images/flags/bs.svg') center center no-repeat; }
.bt{ background: transparent url('/cash-assets/images/flags/bt.svg') center center no-repeat; }
.bv{ background: transparent url('/cash-assets/images/flags/bv.svg') center center no-repeat; }
.bw{ background: transparent url('/cash-assets/images/flags/bw.svg') center center no-repeat; }
.by{ background: transparent url('/cash-assets/images/flags/by.svg') center center no-repeat; }
.bz{ background: transparent url('/cash-assets/images/flags/bz.svg') center center no-repeat; }
.ca{ background: transparent url('/cash-assets/images/flags/ca.svg') center center no-repeat; }
.cc{ background: transparent url('/cash-assets/images/flags/cc.svg') center center no-repeat; }
.cd{ background: transparent url('/cash-assets/images/flags/cd.svg') center center no-repeat; }
.cf{ background: transparent url('/cash-assets/images/flags/cf.svg') center center no-repeat; }
.cg{ background: transparent url('/cash-assets/images/flags/cg.svg') center center no-repeat; }
.ch{ background: transparent url('/cash-assets/images/flags/ch.svg') center center no-repeat; }
.ci{ background: transparent url('/cash-assets/images/flags/ci.svg') center center no-repeat; }
.ck{ background: transparent url('/cash-assets/images/flags/ck.svg') center center no-repeat; }
.cl{ background: transparent url('/cash-assets/images/flags/cl.svg') center center no-repeat; }
.cm{ background: transparent url('/cash-assets/images/flags/cm.svg') center center no-repeat; }
.cn{ background: transparent url('/cash-assets/images/flags/cn.svg') center center no-repeat; }
.co{ background: transparent url('/cash-assets/images/flags/co.svg') center center no-repeat; }
.cr{ background: transparent url('/cash-assets/images/flags/cr.svg') center center no-repeat; }
.cu{ background: transparent url('/cash-assets/images/flags/cu.svg') center center no-repeat; }
.cv{ background: transparent url('/cash-assets/images/flags/cv.svg') center center no-repeat; }
.cw{ background: transparent url('/cash-assets/images/flags/cw.svg') center center no-repeat; }
.cx{ background: transparent url('/cash-assets/images/flags/cx.svg') center center no-repeat; }
.cy{ background: transparent url('/cash-assets/images/flags/cy.svg') center center no-repeat; }
.cz{ background: transparent url('/cash-assets/images/flags/cz.svg') center center no-repeat; }
.de{ background: transparent url('/cash-assets/images/flags/de.svg') center center no-repeat; }
.dj{ background: transparent url('/cash-assets/images/flags/dj.svg') center center no-repeat; }
.dk{ background: transparent url('/cash-assets/images/flags/dk.svg') center center no-repeat; }
.dm{ background: transparent url('/cash-assets/images/flags/dm.svg') center center no-repeat; }
.do{ background: transparent url('/cash-assets/images/flags/do.svg') center center no-repeat; }
.dz{ background: transparent url('/cash-assets/images/flags/dz.svg') center center no-repeat; }
.ec{ background: transparent url('/cash-assets/images/flags/ec.svg') center center no-repeat; }
.ee{ background: transparent url('/cash-assets/images/flags/ee.svg') center center no-repeat; }
.eg{ background: transparent url('/cash-assets/images/flags/eg.svg') center center no-repeat; }
.eh{ background: transparent url('/cash-assets/images/flags/eh.svg') center center no-repeat; }
.er{ background: transparent url('/cash-assets/images/flags/er.svg') center center no-repeat; }
.es{ background: transparent url('/cash-assets/images/flags/es.svg') center center no-repeat; }
.et{ background: transparent url('/cash-assets/images/flags/et.svg') center center no-repeat; }
.fi{ background: transparent url('/cash-assets/images/flags/fi.svg') center center no-repeat; }
.fj{ background: transparent url('/cash-assets/images/flags/fj.svg') center center no-repeat; }
.fk{ background: transparent url('/cash-assets/images/flags/fk.svg') center center no-repeat; }
.fm{ background: transparent url('/cash-assets/images/flags/fm.svg') center center no-repeat; }
.fo{ background: transparent url('/cash-assets/images/flags/fo.svg') center center no-repeat; }
.fr{ background: transparent url('/cash-assets/images/flags/fr.svg') center center no-repeat; }
.ga{ background: transparent url('/cash-assets/images/flags/ga.svg') center center no-repeat; }
.gb{ background: transparent url('/cash-assets/images/flags/gb.svg') center center no-repeat; }
.gd{ background: transparent url('/cash-assets/images/flags/gd.svg') center center no-repeat; }
.ge{ background: transparent url('/cash-assets/images/flags/ge.svg') center center no-repeat; }
.gf{ background: transparent url('/cash-assets/images/flags/gf.svg') center center no-repeat; }
.gg{ background: transparent url('/cash-assets/images/flags/gg.svg') center center no-repeat; }
.gh{ background: transparent url('/cash-assets/images/flags/gh.svg') center center no-repeat; }
.gi{ background: transparent url('/cash-assets/images/flags/gi.svg') center center no-repeat; }
.gl{ background: transparent url('/cash-assets/images/flags/gl.svg') center center no-repeat; }
.gm{ background: transparent url('/cash-assets/images/flags/gm.svg') center center no-repeat; }
.gn{ background: transparent url('/cash-assets/images/flags/gn.svg') center center no-repeat; }
.gp{ background: transparent url('/cash-assets/images/flags/gp.svg') center center no-repeat; }
.gq{ background: transparent url('/cash-assets/images/flags/gq.svg') center center no-repeat; }
.gr{ background: transparent url('/cash-assets/images/flags/gr.svg') center center no-repeat; }
.gs{ background: transparent url('/cash-assets/images/flags/gs.svg') center center no-repeat; }
.gt{ background: transparent url('/cash-assets/images/flags/gt.svg') center center no-repeat; }
.gu{ background: transparent url('/cash-assets/images/flags/gu.svg') center center no-repeat; }
.gw{ background: transparent url('/cash-assets/images/flags/gw.svg') center center no-repeat; }
.gy{ background: transparent url('/cash-assets/images/flags/gy.svg') center center no-repeat; }
.hk{ background: transparent url('/cash-assets/images/flags/hk.svg') center center no-repeat; }
.hm{ background: transparent url('/cash-assets/images/flags/hm.svg') center center no-repeat; }
.hn{ background: transparent url('/cash-assets/images/flags/hn.svg') center center no-repeat; }
.hr{ background: transparent url('/cash-assets/images/flags/hr.svg') center center no-repeat; }
.ht{ background: transparent url('/cash-assets/images/flags/ht.svg') center center no-repeat; }
.hu{ background: transparent url('/cash-assets/images/flags/hu.svg') center center no-repeat; }
.id{ background: transparent url('/cash-assets/images/flags/id.svg') center center no-repeat; }
.ie{ background: transparent url('/cash-assets/images/flags/ie.svg') center center no-repeat; }
.il{ background: transparent url('/cash-assets/images/flags/il.svg') center center no-repeat; }
.im{ background: transparent url('/cash-assets/images/flags/im.svg') center center no-repeat; }
.in{ background: transparent url('/cash-assets/images/flags/in.svg') center center no-repeat; }
.io{ background: transparent url('/cash-assets/images/flags/io.svg') center center no-repeat; }
.iq{ background: transparent url('/cash-assets/images/flags/iq.svg') center center no-repeat; }
.ir{ background: transparent url('/cash-assets/images/flags/ir.svg') center center no-repeat; }
.is{ background: transparent url('/cash-assets/images/flags/is.svg') center center no-repeat; }
.it{ background: transparent url('/cash-assets/images/flags/it.svg') center center no-repeat; }
.je{ background: transparent url('/cash-assets/images/flags/je.svg') center center no-repeat; }
.jm{ background: transparent url('/cash-assets/images/flags/jm.svg') center center no-repeat; }
.jo{ background: transparent url('/cash-assets/images/flags/jo.svg') center center no-repeat; }
.jp{ background: transparent url('/cash-assets/images/flags/jp.svg') center center no-repeat; }
.ke{ background: transparent url('/cash-assets/images/flags/ke.svg') center center no-repeat; }
.kg{ background: transparent url('/cash-assets/images/flags/kg.svg') center center no-repeat; }
.kh{ background: transparent url('/cash-assets/images/flags/kh.svg') center center no-repeat; }
.ki{ background: transparent url('/cash-assets/images/flags/ki.svg') center center no-repeat; }
.km{ background: transparent url('/cash-assets/images/flags/km.svg') center center no-repeat; }
.kn{ background: transparent url('/cash-assets/images/flags/kn.svg') center center no-repeat; }
.kp{ background: transparent url('/cash-assets/images/flags/kp.svg') center center no-repeat; }
.kr{ background: transparent url('/cash-assets/images/flags/kr.svg') center center no-repeat; }
.kw{ background: transparent url('/cash-assets/images/flags/kw.svg') center center no-repeat; }
.ky{ background: transparent url('/cash-assets/images/flags/ky.svg') center center no-repeat; }
.kz{ background: transparent url('/cash-assets/images/flags/kz.svg') center center no-repeat; }
.la{ background: transparent url('/cash-assets/images/flags/la.svg') center center no-repeat; }
.lb{ background: transparent url('/cash-assets/images/flags/lb.svg') center center no-repeat; }
.lc{ background: transparent url('/cash-assets/images/flags/lc.svg') center center no-repeat; }
.li{ background: transparent url('/cash-assets/images/flags/li.svg') center center no-repeat; }
.lk{ background: transparent url('/cash-assets/images/flags/lk.svg') center center no-repeat; }
.lr{ background: transparent url('/cash-assets/images/flags/lr.svg') center center no-repeat; }
.ls{ background: transparent url('/cash-assets/images/flags/ls.svg') center center no-repeat; }
.lt{ background: transparent url('/cash-assets/images/flags/lt.svg') center center no-repeat; }
.lu{ background: transparent url('/cash-assets/images/flags/lu.svg') center center no-repeat; }
.lv{ background: transparent url('/cash-assets/images/flags/lv.svg') center center no-repeat; }
.ly{ background: transparent url('/cash-assets/images/flags/ly.svg') center center no-repeat; }
.ma{ background: transparent url('/cash-assets/images/flags/ma.svg') center center no-repeat; }
.mc{ background: transparent url('/cash-assets/images/flags/mc.svg') center center no-repeat; }
.md{ background: transparent url('/cash-assets/images/flags/md.svg') center center no-repeat; }
.me{ background: transparent url('/cash-assets/images/flags/me.svg') center center no-repeat; }
.mf{ background: transparent url('/cash-assets/images/flags/mf.svg') center center no-repeat; }
.mg{ background: transparent url('/cash-assets/images/flags/mg.svg') center center no-repeat; }
.mh{ background: transparent url('/cash-assets/images/flags/mh.svg') center center no-repeat; }
.mk{ background: transparent url('/cash-assets/images/flags/mk.svg') center center no-repeat; }
.ml{ background: transparent url('/cash-assets/images/flags/ml.svg') center center no-repeat; }
.mm{ background: transparent url('/cash-assets/images/flags/mm.svg') center center no-repeat; }
.mn{ background: transparent url('/cash-assets/images/flags/mn.svg') center center no-repeat; }
.mo{ background: transparent url('/cash-assets/images/flags/mo.svg') center center no-repeat; }
.mp{ background: transparent url('/cash-assets/images/flags/mp.svg') center center no-repeat; }
.mq{ background: transparent url('/cash-assets/images/flags/mq.svg') center center no-repeat; }
.mr{ background: transparent url('/cash-assets/images/flags/mr.svg') center center no-repeat; }
.ms{ background: transparent url('/cash-assets/images/flags/ms.svg') center center no-repeat; }
.mt{ background: transparent url('/cash-assets/images/flags/mt.svg') center center no-repeat; }
.mu{ background: transparent url('/cash-assets/images/flags/mu.svg') center center no-repeat; }
.mv{ background: transparent url('/cash-assets/images/flags/mv.svg') center center no-repeat; }
.mw{ background: transparent url('/cash-assets/images/flags/mw.svg') center center no-repeat; }
.mx{ background: transparent url('/cash-assets/images/flags/mx.svg') center center no-repeat; }
.my{ background: transparent url('/cash-assets/images/flags/my.svg') center center no-repeat; }
.mz{ background: transparent url('/cash-assets/images/flags/mz.svg') center center no-repeat; }
.na{ background: transparent url('/cash-assets/images/flags/na.svg') center center no-repeat; }
.nc{ background: transparent url('/cash-assets/images/flags/nc.svg') center center no-repeat; }
.ne{ background: transparent url('/cash-assets/images/flags/ne.svg') center center no-repeat; }
.nf{ background: transparent url('/cash-assets/images/flags/nf.svg') center center no-repeat; }
.ng{ background: transparent url('/cash-assets/images/flags/ng.svg') center center no-repeat; }
.ni{ background: transparent url('/cash-assets/images/flags/ni.svg') center center no-repeat; }
.nl{ background: transparent url('/cash-assets/images/flags/nl.svg') center center no-repeat; }
.no{ background: transparent url('/cash-assets/images/flags/no.svg') center center no-repeat; }
.np{ background: transparent url('/cash-assets/images/flags/np.svg') center center no-repeat; }
.nr{ background: transparent url('/cash-assets/images/flags/nr.svg') center center no-repeat; }
.nu{ background: transparent url('/cash-assets/images/flags/nu.svg') center center no-repeat; }
.nz{ background: transparent url('/cash-assets/images/flags/nz.svg') center center no-repeat; }
.om{ background: transparent url('/cash-assets/images/flags/om.svg') center center no-repeat; }
.pa{ background: transparent url('/cash-assets/images/flags/pa.svg') center center no-repeat; }
.pe{ background: transparent url('/cash-assets/images/flags/pe.svg') center center no-repeat; }
.pf{ background: transparent url('/cash-assets/images/flags/pf.svg') center center no-repeat; }
.pg{ background: transparent url('/cash-assets/images/flags/pg.svg') center center no-repeat; }
.ph{ background: transparent url('/cash-assets/images/flags/ph.svg') center center no-repeat; }
.pk{ background: transparent url('/cash-assets/images/flags/pk.svg') center center no-repeat; }
.pl{ background: transparent url('/cash-assets/images/flags/pl.svg') center center no-repeat; }
.pm{ background: transparent url('/cash-assets/images/flags/pm.svg') center center no-repeat; }
.pn{ background: transparent url('/cash-assets/images/flags/pn.svg') center center no-repeat; }
.pr{ background: transparent url('/cash-assets/images/flags/pr.svg') center center no-repeat; }
.ps{ background: transparent url('/cash-assets/images/flags/ps.svg') center center no-repeat; }
.pt{ background: transparent url('/cash-assets/images/flags/pt.svg') center center no-repeat; }
.pw{ background: transparent url('/cash-assets/images/flags/pw.svg') center center no-repeat; }
.py{ background: transparent url('/cash-assets/images/flags/py.svg') center center no-repeat; }
.qa{ background: transparent url('/cash-assets/images/flags/qa.svg') center center no-repeat; }
.re{ background: transparent url('/cash-assets/images/flags/re.svg') center center no-repeat; }
.ro{ background: transparent url('/cash-assets/images/flags/ro.svg') center center no-repeat; }
.rs{ background: transparent url('/cash-assets/images/flags/rs.svg') center center no-repeat; }
.ru{ background: transparent url('/cash-assets/images/flags/ru.svg') center center no-repeat; }
.rw{ background: transparent url('/cash-assets/images/flags/rw.svg') center center no-repeat; }
.sa{ background: transparent url('/cash-assets/images/flags/sa.svg') center center no-repeat; }
.sb{ background: transparent url('/cash-assets/images/flags/sb.svg') center center no-repeat; }
.sc{ background: transparent url('/cash-assets/images/flags/sc.svg') center center no-repeat; }
.sd{ background: transparent url('/cash-assets/images/flags/sd.svg') center center no-repeat; }
.se{ background: transparent url('/cash-assets/images/flags/se.svg') center center no-repeat; }
.sg{ background: transparent url('/cash-assets/images/flags/sg.svg') center center no-repeat; }
.sh{ background: transparent url('/cash-assets/images/flags/sh.svg') center center no-repeat; }
.si{ background: transparent url('/cash-assets/images/flags/si.svg') center center no-repeat; }
.sj{ background: transparent url('/cash-assets/images/flags/sj.svg') center center no-repeat; }
.sk{ background: transparent url('/cash-assets/images/flags/sk.svg') center center no-repeat; }
.sl{ background: transparent url('/cash-assets/images/flags/sl.svg') center center no-repeat; }
.sm{ background: transparent url('/cash-assets/images/flags/sm.svg') center center no-repeat; }
.sn{ background: transparent url('/cash-assets/images/flags/sn.svg') center center no-repeat; }
.so{ background: transparent url('/cash-assets/images/flags/so.svg') center center no-repeat; }
.sr{ background: transparent url('/cash-assets/images/flags/sr.svg') center center no-repeat; }
.ss{ background: transparent url('/cash-assets/images/flags/ss.svg') center center no-repeat; }
.st{ background: transparent url('/cash-assets/images/flags/st.svg') center center no-repeat; }
.sv{ background: transparent url('/cash-assets/images/flags/sv.svg') center center no-repeat; }
.sx{ background: transparent url('/cash-assets/images/flags/sx.svg') center center no-repeat; }
.sy{ background: transparent url('/cash-assets/images/flags/sy.svg') center center no-repeat; }
.sz{ background: transparent url('/cash-assets/images/flags/sz.svg') center center no-repeat; }
.tc{ background: transparent url('/cash-assets/images/flags/tc.svg') center center no-repeat; }
.td{ background: transparent url('/cash-assets/images/flags/td.svg') center center no-repeat; }
.tf{ background: transparent url('/cash-assets/images/flags/tf.svg') center center no-repeat; }
.tg{ background: transparent url('/cash-assets/images/flags/tg.svg') center center no-repeat; }
.th{ background: transparent url('/cash-assets/images/flags/th.svg') center center no-repeat; }
.tj{ background: transparent url('/cash-assets/images/flags/tj.svg') center center no-repeat; }
.tk{ background: transparent url('/cash-assets/images/flags/tk.svg') center center no-repeat; }
.tl{ background: transparent url('/cash-assets/images/flags/tl.svg') center center no-repeat; }
.tm{ background: transparent url('/cash-assets/images/flags/tm.svg') center center no-repeat; }
.tn{ background: transparent url('/cash-assets/images/flags/tn.svg') center center no-repeat; }
.to{ background: transparent url('/cash-assets/images/flags/to.svg') center center no-repeat; }
.tr{ background: transparent url('/cash-assets/images/flags/tr.svg') center center no-repeat; }
.tt{ background: transparent url('/cash-assets/images/flags/tt.svg') center center no-repeat; }
.tv{ background: transparent url('/cash-assets/images/flags/tv.svg') center center no-repeat; }
.tw{ background: transparent url('/cash-assets/images/flags/tw.svg') center center no-repeat; }
.tz{ background: transparent url('/cash-assets/images/flags/tz.svg') center center no-repeat; }
.ua{ background: transparent url('/cash-assets/images/flags/ua.svg') center center no-repeat; }
.ug{ background: transparent url('/cash-assets/images/flags/ug.svg') center center no-repeat; }
.um{ background: transparent url('/cash-assets/images/flags/um.svg') center center no-repeat; }
.us{ background: transparent url('/cash-assets/images/flags/us.svg') center center no-repeat; }
.uy{ background: transparent url('/cash-assets/images/flags/uy.svg') center center no-repeat; }
.uz{ background: transparent url('/cash-assets/images/flags/uz.svg') center center no-repeat; }
.va{ background: transparent url('/cash-assets/images/flags/va.svg') center center no-repeat; }
.vc{ background: transparent url('/cash-assets/images/flags/vc.svg') center center no-repeat; }
.ve{ background: transparent url('/cash-assets/images/flags/ve.svg') center center no-repeat; }
.vg{ background: transparent url('/cash-assets/images/flags/vg.svg') center center no-repeat; }
.vi{ background: transparent url('/cash-assets/images/flags/vi.svg') center center no-repeat; }
.vn{ background: transparent url('/cash-assets/images/flags/vn.svg') center center no-repeat; }
.vu{ background: transparent url('/cash-assets/images/flags/vu.svg') center center no-repeat; }
.wf{ background: transparent url('/cash-assets/images/flags/wf.svg') center center no-repeat; }
.ws{ background: transparent url('/cash-assets/images/flags/ws.svg') center center no-repeat; }
.ye{ background: transparent url('/cash-assets/images/flags/ye.svg') center center no-repeat; }
.yt{ background: transparent url('/cash-assets/images/flags/yt.svg') center center no-repeat; }
.za{ background: transparent url('/cash-assets/images/flags/za.svg') center center no-repeat; }
.zm{ background: transparent url('/cash-assets/images/flags/zm.svg') center center no-repeat; }
.zw{ background: transparent url('/cash-assets/images/flags/zw.svg') center center no-repeat; }
.zz{ background: transparent url('/cash-assets/images/flags/zz.svg') center center no-repeat; }